<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign up</title>
  </head>
  <body>
  <div class="newUser">
    <h2 id="headlineLoginPage">Sign up for a free user at EZ Chat</h2>
    <form id="register">
      <input type="text" name="userName" id="userName" placeholder="Choose a username" />
      <input type="password" name="password" id="password" placeholder="Choose a password"
      />
      <input type="submit" id="createUser" value="Sign up" />
  </form>
</div>
  </body>
  <script src="newUser.js"></script>
    <a class="registrerLink" id="registrerLink" href="login.html">Already have an account? Click here</a>
  </p>
</html>


